*{
    font-size: .7rem;
}

.list-of-meds{
    padding-top: 2rem;
}

#canvas{
   border: 1px black solid;
   margin: 20px;

}

#true {
    height: 100px;
    width: auto;
}

.med-sheet {
    padding: 20px;
}

.medications {
    margin-top: 20px;
}

.med-name{
    max-width: 2;
}

.single-med {
    margin-top: 10px;
}